<template>
  <popup
    :visible="visible"
    :closable="false"
    :title="$t('message.windowGetWavesKeeper.title')"
    width="600px"
    height="300px">
    <div class="text caption details">
      {{$t('message.windowGetWavesKeeper.details')}}
    </div>
    <div style="display: flex; flex: 1; justify-content: center; align-items: flex-end;">
      <div class="button control bordered box-glow">
        <div class="text caption details">
          <a :href="extensionLink" target="_blank">
            {{$t('message.windowGetWavesKeeper.button')}}
          </a>
        </div>
      </div>
    </div>
  </popup>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '@/config';
import Popup from '@/components/controls/popups/Popup.vue';

export default {
  components: {
    Popup,
  },
  computed: {
    ...mapGetters({
      wavesKeeperInitialized: 'wavesKeeperInitialized',
      isAnyPopupExceptWithdrawOpened: 'isAnyPopupExceptWithdrawOpened',
    }),
    visible() {
      return !this.wavesKeeperInitialized
        && !this.isAnyPopupExceptWithdrawOpened;
    },
    extensionLink() {
      const isFirefox = navigator.userAgent.toLowerCase()
        .indexOf('firefox') > -1;
      return isFirefox ? config.extensions.firefox : config.extensions.chrome;
    },
  },
};
</script>

<style scoped lang="scss">
  .button {
    width: 60%;
    height: 20%;
    padding: 1vh;
    margin: 1vh;

    .text {
      font-size: 2rem;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
</style>
