<template>
  <popup
    :visible="visible"
    :closable="true"
    :title="$t('message.information.title')"
    @close="hidePopup"
    width="900px"
    height="650px">
    <div class="container">
      <div style="text-align: justify;" class="text caption">
        <p v-html="$t('message.information.preamble')"></p>
        <p>{{$t('message.information.toPlayYouNeed.title')}}</p>
        <ol>
          <li v-html="$t('message.information.toPlayYouNeed.li-1')"></li>
          <li>{{$t('message.information.toPlayYouNeed.li-2')}}</li>
          <li>{{$t('message.information.toPlayYouNeed.li-3')}}</li>
        </ol>
        <p>{{$t('message.information.howToPlay.title')}}</p>
        <ol>
          <li>{{$t('message.information.howToPlay.li-1')}}</li>
          <li>{{$t('message.information.howToPlay.li-2')}}</li>
          <li>{{$t('message.information.howToPlay.li-3')}}</li>
        </ol>
        <p>{{$t('message.information.gameInstructions.title')}}</p>
        <ol>
          <li>
            {{$t('message.information.gameInstructions.li-1')}}
          </li>
          <li>{{$t('message.information.gameInstructions.li-2')}}</li>
          <li>{{$t('message.information.gameInstructions.li-3')}}
            <ul>
              <li>{{$t('message.information.gameInstructions.li-4')}}</li>
              <li>{{$t('message.information.gameInstructions.li-5')}}</li>
            </ul>
          </li>
          <li>
            {{$t('message.information.gameInstructions.li-6')}}
            <ul>
              <li>{{$t('message.information.gameInstructions.li-7')}}</li>
              <li>{{$t('message.information.gameInstructions.li-8')}}</li>
              <li>{{$t('message.information.gameInstructions.li-9')}}</li>
              <li>{{$t('message.information.gameInstructions.li-10')}}</li>
            </ul>
          </li>
          <li>{{$t('message.information.gameInstructions.li-11')}}</li>
          <li>{{$t('message.information.gameInstructions.li-12')}}</li>
          <li>{{$t('message.information.gameInstructions.li-13')}}</li>
          <li>{{$t('message.information.gameInstructions.li-14')}}</li>
          <li>{{$t('message.information.gameInstructions.li-15')}}</li>
          <li>{{$t('message.information.gameInstructions.li-16')}}</li>
          <li>{{$t('message.information.gameInstructions.li-17')}}</li>
          <li>{{$t('message.information.gameInstructions.li-18')}}</li>
          <li>{{$t('message.information.gameInstructions.li-19')}}</li>
          <li>{{$t('message.information.gameInstructions.li-20')}}</li>
        </ol>
      </div>
    </div>
  </popup>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Popups } from '@/utils';
import Popup from '@/components/controls/popups/Popup.vue';

export default {
  components: {
    Popup,
  },
  computed: {
    ...mapGetters({
      popupsVisibility: 'popupsVisibility',
    }),
    visible() {
      return this.popupsVisibility[Popups.INFORMATION];
    },
  },
  methods: {
    ...mapActions({
      setPopupVisibility: 'setPopupVisibility',
    }),
    hidePopup() {
      this.setPopupVisibility({
        popup: Popups.INFORMATION,
        visible: false,
      });
    },
  },
};
</script>

<style scoped lang="scss">
  .container {
    display: flex;
    flex: 1;
    overflow-y: auto;

    .text {
      font-size: 1rem;
      padding: 0 10px;
      font-family: Roboto, sans-serif;
      text-transform: none;

      p {
        padding: 10px;
      }
    }
  }
</style>
