<template>
  <popup
    :visible="visible"
    :closable="true"
    :title="$t('message.windowNotAWinner.title')"
    @close="hidePopup"
    width="600px"
    height="200px">
    <div class="text caption details">
      {{$t('message.windowNotAWinner.details')}}
    </div>
  </popup>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Popups } from '@/utils';
import Popup from '@/components/controls/popups/Popup.vue';

export default {
  components: {
    Popup,
  },
  computed: {
    ...mapGetters({
      popupsVisibility: 'popupsVisibility',
    }),
    visible() {
      return this.popupsVisibility[Popups.NOT_A_WINNER];
    },
  },
  methods: {
    ...mapActions({
      setPopupVisibility: 'setPopupVisibility',
    }),
    hidePopup() {
      this.setPopupVisibility({
        popup: Popups.NOT_A_WINNER,
        visible: false,
      });
    },
  },
};
</script>
