<template>
  <transition name="fade">
    <div
      :style="style"
      v-show="visible"
      class="popup box-glow control bordered">
      <div v-if="closable" class="close">
        <div @click="onCloseHandler">
          <icon-close></icon-close>
        </div>
      </div>
      <div class="text caption red-glow header">
        {{title}}
      </div>
      <slot></slot>
    </div>
  </transition>
</template>

<script>
import IconClose from '@/assets/images/close.svg';

export default {
  props: {
    visible: Boolean,
    closable: Boolean,
    title: String,
    width: String,
    height: String,
  },
  components: {
    IconClose,
  },
  computed: {
    style() {
      return {
        width: this.width,
        height: this.height,
      };
    },
  },
  methods: {
    onCloseHandler() {
      this.$emit('close');
    },
  },
};
</script>

<style scoped lang="scss">
  .popup {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);

    .close {
      width: 100%;
      position: absolute;

      svg {
        float: right;
        margin: 15px;

        path {
          fill: white;
        }

        &:hover {
          cursor: pointer;

          path {
            fill: red;
          }
        }
      }
    }

    .header {
      font-size: 3.5vh;
      padding: 2vh;
    }

    .details {
      font-size: 1.5vh;
      color: whitesmoke;
    }
  }
</style>
