<template>
  <popup
    :visible="visible"
    :title="$t('message.windowWithdraw.title')"
    @close="hidePopup"
    width="30vw"
    height="30vh">
    <div class="withdraw">
      <div
        class="text caption details"
        v-html="$t('message.windowWithdraw.details', {
          address: lastPaymentAddress, url: addressUrl
        })">
      </div>
      <div class="balance">
        <div class="value red-glow">
          <span class="amount">{{balanceFormatted}}</span>
          <span class="waves">waves</span>
          <span style="padding: 0 0.5vw"></span>
          <span class="brace">(</span>
          <span class="amount">{{balanceInUSDFormatted}}</span>
          <span class="waves">USD</span>
          <span class="brace">)</span>
        </div>
      </div>
      <transition name="fade">
        <button-get-prize v-show="visibleGetPrize"></button-get-prize>
      </transition>
    </div>
  </popup>
</template>

<script>
import urlJoin from 'url-join';
import { mapGetters, mapActions } from 'vuex';
import { Popups } from '@/utils';
import config from '@/config';
import Popup from '@/components/controls/popups/Popup.vue';
import ButtonGetPrize from '@/components/controls/ButtonGetPrize.vue';

export default {
  components: {
    Popup,
    ButtonGetPrize,
  },
  computed: {
    ...mapGetters({
      balance: 'balance',
      balanceOnWithdraw: 'balanceOnWithdraw',
      lastPriceUSD: 'lastPriceUSD',
      lastPaymentAddress: 'lastPaymentAddress',
      popupsVisibility: 'popupsVisibility',
      wavesKeeperInitialized: 'wavesKeeperInitialized',
      isAnyPopupExceptWithdrawOpened: 'isAnyPopupExceptWithdrawOpened',
    }),
    addressUrl() {
      return urlJoin(config.api.explorer, this.lastPaymentAddress || '');
    },
    visible() {
      return this.popupsVisibility[Popups.WITHDRAW]
        && this.wavesKeeperInitialized
        && !this.isAnyPopupExceptWithdrawOpened;
    },
    visibleGetPrize() {
      return Math.trunc(this.balance / config.wave) >= config.getPrizeVisibilityThreshold;
    },
    balanceFormatted() {
      if (!this.balanceOnWithdraw) {
        return 0;
      }

      return Math.trunc(this.balanceOnWithdraw / config.wave);
    },
    balanceInUSDFormatted() {
      if (!this.lastPriceUSD) {
        return '0';
      }

      return `~${Math.trunc((this.balanceOnWithdraw * this.lastPriceUSD) / config.wave)}`;
    },
  },
  methods: {
    ...mapActions({
      setPopupVisibility: 'setPopupVisibility',
    }),
    hidePopup() {
      this.setPopupVisibility({
        popup: Popups.WITHDRAW,
        visible: false,
      });
    },
  },
};
</script>

<style scoped lang="scss">
  .withdraw {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .text {
      text-align: left;
      padding: 0 1vw;
      font-family: Roboto, sans-serif;
      text-transform: none;

      &.details {
        font-size: 1.5vh;
      }
    }

    .balance {
      font-family: 'JonhyFever', sans-serif;
      text-transform: uppercase;

      .brace {
        padding: 0 0.2vw;
      }

      .value {
        font-size: 2vh;
        transition: 0.3s ease-in-out;
        padding-right: 0.5vw;

        .amount {
          padding-right: 0.5vw;
          color: rgba(255, 35, 29, 0.8);
        }
      }
    }
  }
</style>
