<template>
  <div v-show="!isGameOver" class="countdown text caption red-glow">
    <span v-for="(min, id) in timeMinutes" :key="'min'+ id">{{min}}</span>
    <span>:</span>
    <span v-for="(sec, id) in timeSeconds" :key="'sec'+ id">{{sec}}</span>
    <span>:</span>
    <span v-for="(ms, id) in timeMilliseconds" :key="'ms'+ id">{{ms}}</span>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      intervalHandler: null,
      remainingTime: 0,
    };
  },
  computed: {
    ...mapGetters({
      heightLeft: 'heightLeft',
      isGameOver: 'isGameOver',
    }),
    timeMinutes() {
      return this.castToDigits(
        Math.floor((this.remainingTime % (1000 * 60 * 60)) / (1000 * 60)),
      );
    },
    timeSeconds() {
      return this.castToDigits(
        Math.floor((this.remainingTime % (1000 * 60)) / (1000)),
      );
    },
    timeMilliseconds() {
      return this.castToDigits(
        Math.floor(this.remainingTime % (1000)),
      );
    },
  },
  mounted() {
    this.intervalHandler = setInterval(() => this.countdown(100), 100);
  },
  beforeDestroy() {
    clearInterval(this.intervalHandler);
  },
  watch: {
    heightLeft(v) {
      this.remainingTime = v * 1000 * 60;
    },
  },
  methods: {
    castToDigits(number) {
      if (number < 10) {
        return [0, number];
      }

      return number.toString().substring(0, 2);
    },
    countdown(step) {
      this.remainingTime -= step;
      if (this.heightLeft - this.timeMinutes > 1) {
        this.remainingTime += 1000 * 60;
      }
    },
  },
};
</script>

<style scoped lang="scss">
  .countdown {
    font-size: 3vh;
    color: rgba(255, 0, 0, 1);
    display: flex;
    flex-direction: row;

    span {
      display: block;
      min-width: 1vw;
    }
  }
</style>
