<template>
  <div class="balance text caption">
    <div class="value text red-glow">
      <span class="waves">{{$t('message.round')}}</span>
      <span class="amount">{{round}}</span>
    </div>
    <div class="value text red-glow" v-show="isStageWithdraw">
      <span class="waves">{{$t('message.roundEnd')}}</span>
    </div>
    <transition name="fade">
      <div v-show="!isStageWithdraw">
        <div class="value link text red-glow">
          <a :href="contractUrl" target="_blank">
            <span class="amount">{{balanceFormatted}}</span>
            <span class="waves">waves</span>
          </a>
        </div>
        <div class="value text red-glow">
          <span class="amount">{{balanceInUSDFormatted}}</span>
          <span class="waves">USD</span>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '@/config';
import urlJoin from 'url-join';

export default {
  computed: {
    ...mapGetters({
      isStageWithdraw: 'isStageWithdraw',
      round: 'round',
      balance: 'balance',
      lastPriceUSD: 'lastPriceUSD',
    }),
    balanceFormatted() {
      if (!this.balance) {
        return '0';
      }

      return Math.trunc(this.balance / config.wave);
    },
    balanceInUSDFormatted() {
      if (!this.lastPriceUSD) {
        return '0';
      }

      return `~${Math.trunc((this.balance * this.lastPriceUSD) / config.wave)}`;
    },
    contractUrl() {
      return urlJoin(config.api.explorer, config.address);
    },
  },
};
</script>

<style scoped lang="scss">
  .balance {
    padding: 5vh;
    margin: 2vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .value {
      font-size: 5vh;
      transition: 0.3s ease-in-out;

      &.link {
        &:hover {
          transform: scale(1.05);
        }
      }

      span {
        padding: 0 1vh;
      }

      .amount {
        color: rgba(255, 35, 29, 0.8);
      }
    }
  }
</style>
