<template>
  <transition name="fade">
    <div class="blocks text digit" v-show="visible">
      <div class="wrapper">
        <div class="digits back">
          <span class="digit">0</span>
          <span class="digit">0</span>
        </div>
        <div class="digits front">
          <span class="digit" v-for="(digit, id) in digits" :key="id">{{digit}}</span>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from 'vuex';
import { GameStage } from '@/utils';

export default {
  computed: {
    ...mapGetters({
      stage: 'stage',
      heightLeft: 'heightLeft',
    }),
    visible() {
      return this.stage === GameStage.COMPETITION;
    },
    digits() {
      if (this.heightLeft < 0 || this.stage === GameStage.WITHDRAW) {
        return ['-', '-'];
      }

      const h = this.heightLeft;
      if (h > 0 && h < 10) {
        return [0, h];
      }
      if (h <= 0) {
        return [0, 0];
      }
      return [...h.toString()].slice(0, 2)
        .map(c => c);
    },
  },
};
</script>

<style scoped lang="scss">
  .blocks {
    // firefox font translation:
    -moz-transform: translateY(-3.5vh);
    // default:
    font-size: 11vh;
    padding: 2vh;

    .wrapper {
      position: relative;

      .digits {
        position: absolute;

        .digit {
          text-align: right;
          min-width: 3vw;
          float: left;
        }

        &.front {
          color: red;
        }

        &.back {
          color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
</style>
