<template>
  <div class="play">
    <div class="button control box-glow bordered" @click="handlePlay">
      <div class="text caption">
        {{title}}
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  computed: {
    title() {
      return this.$t('message.getPrize');
    },
  },
  methods: {
    ...mapActions({
      getPrize: 'getPrize',
    }),
    handlePlay() {
      this.getPrize();
    },
  },
};
</script>

<style scoped lang="scss">
  .play {
    margin-bottom: 1vh;

    .button {
      height: 3vh;
      width: 10vw;
      font-size: 2.5vh;
      padding: 0.5vw;
      transition: background-color .25s ease-in-out;

      &:hover:not(.disabled) {
        background-color: rgba(255, 0, 0, 0.3);
        cursor: pointer;
      }
    }
  }
</style>
