<template>
  <transition name="fade">
    <span class="info control" @click="showPopup">
      {{$t('message.gameRules')}}
    </span>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Popups } from '@/utils';

export default {
  methods: {
    ...mapActions({
      setPopupVisibility: 'setPopupVisibility',
    }),
    showPopup() {
      this.setPopupVisibility({
        popup: Popups.INFORMATION,
        visible: true,
      });
    },
  },
  computed: {
    ...mapGetters({
      wavesKeeperInitialized: 'wavesKeeperInitialized',
    }),
  },
};
</script>

<style scoped lang="scss">
  .info {
    margin-top: 1vh;
    margin-bottom: 3vh;
    font-size: 1.5vh;
    transition: color .25s ease-in-out;
    font-family: Arial, serif;
    text-transform: none;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: red;
      cursor: pointer;
    }
  }
</style>
