<template>
  <div class="play">
    <transition name="fade">
      <div v-show="visible"
           :class="['button control',
           {'box-glow': !isProcessing},
           {bordered: !isProcessing},
           {disabled: isProcessing},
           {flicker: isProcessing}]"
           @click="handlePlay">
        <div
          class="text caption">
          {{title}}
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      wavesKeeperInitialized: 'wavesKeeperInitialized',
      isStageWithdraw: 'isStageWithdraw',
      isProcessing: 'isProcessing',
    }),
    visible() {
      return this.wavesKeeperInitialized && !this.isStageWithdraw;
    },
    title() {
      if (this.isProcessing) {
        return this.$t('message.processing');
      }

      return this.$t('message.getTicket');
    },
  },
  methods: {
    ...mapActions({
      play: 'play',
    }),
    handlePlay() {
      if (!this.isProcessing) {
        this.play();
      }
    },
  },
};
</script>

<style scoped lang="scss">
  .play {
    margin-bottom: 1vh;

    .button {
      height: 3vh;
      width: 10vw;
      font-size: 2.5vh;
      padding: 1vw;
      transition: background-color .25s ease-in-out;

      &:hover:not(.disabled) {
        background-color: rgba(255, 0, 0, 0.3);
        cursor: pointer;
      }
    }
  }
</style>
