<template>
  <div class="change-lang text caption">
    <span :class="{active: locale === 'en'}" @click="changeLanguage('en')">eng</span>
    <span class="separator">/</span>
    <span :class="{active: locale === 'ru'}" @click="changeLanguage('ru')">рус</span>
  </div>
</template>

<script>
export default {
  computed: {
    locale() {
      return this.$i18n.locale;
    },
  },
  methods: {
    changeLanguage(locale) {
      this.$i18n.locale = locale;
      localStorage.setItem('language', locale);
    },
  },
};
</script>

<style scoped lang="scss">
  .change-lang {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.5vh;
    margin: 2vh;

    span:not(.separator) {
      cursor: pointer;
      padding: 1px 5px;
    }

    .active:not(.separator) {
      color: white;
    }
  }
</style>
