<template>
  <transition name="fade">
    <div :class="['countdown text caption', {mobile: mobile}]" v-show="visible">
      <div class="value text red-glow">
        <div class="title">{{$t('message.tillNextRound')}}</div>
        <div class="amount">{{dateTime}}</div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    mobile: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters({
      isStageWithdraw: 'isStageWithdraw',
      wavesKeeperInitialized: 'wavesKeeperInitialized',
      heightOnRoundFinish: 'heightOnRoundFinish',
      heightCurrent: 'heightCurrent',
      countdown: 'countdown',
    }),
    hoursTokensSet() {
      const t = this.$t('message.hours')
        .split(' ');
      return id => t[id];
    },
    minutesTokensSet() {
      const t = this.$t('message.minutes')
        .split(' ');
      return id => t[id];
    },
    visible() {
      return this.mobile ? this.isStageWithdraw
        : this.wavesKeeperInitialized && this.isStageWithdraw;
    },
    dateTime() {
      const {
        hours,
        minutes,
      } = this.countdown;

      if (hours < 1) {
        return `~ ${minutes} ${this.getMinuteToken(minutes)}`;
      }

      return `~ ${hours} ${this.getHoursToken(hours)} ${minutes} ${this.getMinuteToken(minutes)}`;
    },
  },
  methods: {
    getHoursToken(n) {
      if (n === 1 || n === 21) {
        return this.hoursTokensSet(0);
      }
      if ((n >= 2 && n <= 4) || (n >= 21 && n <= 24)) {
        return this.hoursTokensSet(1);
      }

      return this.hoursTokensSet(2);
    },
    getMinuteToken(n) {
      if (n === 1 || n === 21 || n === 31 || n === 41 || n === 51) {
        return this.minutesTokensSet(0);
      }
      if (
        (n >= 2 && n <= 4)
        || (n >= 22 && n <= 24)
        || (n >= 32 && n <= 34)
        || (n >= 42 && n <= 44)
        || (n >= 52 && n <= 54)
      ) {
        return this.minutesTokensSet(1);
      }

      return this.minutesTokensSet(2);
    },
  },
};
</script>

<style scoped lang="scss">
  .countdown {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .value {
      font-size: 3vh;
      transition: 0.3s ease-in-out;

      &.link {
        &:hover {
          transform: scale(1.05);
        }
      }

      span {
        padding: 0 1vh;
      }

      .amount {
        color: white;
      }
    }
  }
</style>
