<template>
  <div class="participants">
    <p class="text caption title">{{$t('message.participants')}}</p>
    <ul class="text caption">
      <li>
        <a :href="leader.url" target="_blank">{{leader.value}}</a>
      </li>
      <li v-for="item in participants" :key="item.key">
        <a :href="item.url" target="_blank">{{item.value}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '@/config';
import urlJoin from 'url-join';

export default {
  computed: {
    ...mapGetters({
      lastPaymentTx: 'lastPaymentTx',
      lastPaymentAddress: 'lastPaymentAddress',
      lastPaymentsAddresses: 'lastPaymentsAddresses',
      lastUpdate: 'lastUpdate',
    }),
    leader() {
      const address = this.lastPaymentAddress || 'address';
      const url = urlJoin(config.api.explorer, address);
      return {
        key: this.lastPaymentTx,
        value: this.lastPaymentAddress,
        url,
      };
    },
    participants() {
      let participants = [...this.lastPaymentsAddresses];
      if (participants < config.tableEntries) {
        participants = participants.slice(1, participants.length - 1);
      } else {
        participants = participants.slice(1, config.tableEntries);
      }
      return participants.map(p => ({
        ...p,
        url: urlJoin(config.api.explorer, p.value),
      }));
    },
  },
};
</script>

<style scoped lang="scss">
  .participants {
    color: white;
    font-size: 1.5vh;
    margin: 50px;

    .title {
      text-align: center;
      font-size: 2vh;
      margin: 10px;
      padding-left: 20px;
    }

    ul {
      text-align: left;
      list-style: none;
      margin: 0;

      li {
        padding: 10px;
        counter-increment: li;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }

      li:first-child {
        border-radius: 5px;
        background: rgba(255, 45, 45, 0.8);
      }
    }
  }
</style>
