<template>
  <div :class="['progress', {mobile: mobile}]">
    <transition name="fade">
      <div class="stages" v-show="heightOnStageSwitch > 0">
        <div
          class="stage competition background"
          :style="{
          left: 0,
          width: `${stageSwitchesOn}%`,
        }"
        >
        </div>
        <div
          class="stage competition"
          :style="styleBarCompetition"
        >
        </div>
        <div
          class="stage withdraw background"
          :style="{
          left: `${stageSwitchesOn}%`,
          width: `${100 - stageSwitchesOn}%`,
        }"
        >
        </div>
        <div
          v-show="isStageWithdraw"
          class="stage withdraw"
          :style="styleBarWithdraw"
        >
        </div>
        <!--<div class="text caption height start">-->
        <!--{{$t('message.start')}}-->
        <!--<br>-->
        <!--{{0}}-->
        <!--</div>-->
        <div class="text caption height switch" :style="{
          left: `${stageSwitchesOn}%`
        }"
        >
          {{$t('message.withdraw')}}
          <br>
          {{heightOnStageSwitch - heightOnRoundStart}}
        </div>
        <div class="text caption height finish">
          {{$t('message.finish')}} {{round + 1}}
          <br>
          {{stageCompletesOn}}
        </div>
        <span
          class="text caption height current"
          :style="{
          left: `${progress + 0.5}%`
        }"
        >
          {{$t('message.block')}} {{height - heightOnRoundStart}}
        </span>
        <div
          class="height cursor flicker"
          :style="{
          left: `${progress}%`
        }"
        ></div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '@/config';

export default {
  props: {
    mobile: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters({
      isStageWithdraw: 'isStageWithdraw',
      round: 'round',
      height: 'heightCurrent',
      heightOnRoundStart: 'heightOnRoundStart',
      heightOnStageSwitch: 'heightOnStageSwitch',
    }),
    progress() {
      return (
        (
          (this.height - config.blocksOnGameStart) % config.blocksPerRound
        ) / config.blocksPerRound) * 100;
    },
    stageCompletesOn() {
      return config.blocksPerRound;
    },
    stageSwitchesOn() {
      return ((this.heightOnStageSwitch - this.heightOnRoundStart) / config.blocksPerRound) * 100;
    },
    styleBarCompetition() {
      const w = this.progress;
      return {
        left: 0,
        width: `${w}%`,
      };
    },
    styleBarWithdraw() {
      const w = this.progress - this.stageSwitchesOn;
      return {
        left: `${this.stageSwitchesOn}%`,
        width: `${w}%`,
      };
    },
  },
};
</script>

<style scoped lang="scss">

  .progress {
    $h: 1.3;

    padding-top: #{$h * 2}vw;
    position: relative;
    width: 40vw;
    height: #{$h}vw;
    margin-bottom: 2vw;
    font-size: 1vw;

    &.mobile {
      width: 80vw;
      padding-top: #{$h * 4}vw;
      height: #{$h * 4}vw;
      font-size: 4vw;

      .height {
        &.start {
          transform: translate(-50%);
          top: -#{$h * 8}vw;
          left: 0
        }

        &.finish {
          top: -#{$h * 8}vw;
        }

        &.switch {
          top: -#{$h * 8}vw;
        }

        &.current {
          bottom: -#{$h * 4}vw;
        }

        &.cursor {
          height: #{$h * 4}vw;
        }
      }
    }

    @media (min-aspect-ratio: (16/9)) {
      font-size: calc((16 / 9) * 1vh) !important;
      height: calc((16 / 9) * #{$h}vh) !important;
      width: calc((16 / 9) * 40vh) !important;
      margin-bottom: calc((16 / 9) * 2vh) !important;

      .height {
        &.start {
          top: - calc((16 / 9) * #{$h}vh) !important;
        }

        &.finish {
          top: - calc((16 / 9) * #{$h}vh) !important;
        }

        &.current {
          bottom: - calc((16 / 9) * #{$h}vh) !important;
        }

        &.cursor {
          height: calc((16 / 9) * #{$h}vh) !important;
        }
      }
    }

    .stage {
      width: 1%;
      height: inherit;
      position: absolute;
      transition: transform 0.5s ease-in-out;
      transform-origin: left center;
      box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
    }

    .stages {
      width: 100%;
      height: inherit;
      position: absolute;

      .competition {
        background: rgba(68, 202, 91, 0.8);

        &.background {
          background: rgba(68, 202, 91, 0.6);
        }
      }

      .withdraw {
        background: rgba(255, 35, 29, 0.8);

        &.background {
          background: rgba(255, 35, 29, 0.6);
        }
      }
    }

    .height {
      position: absolute;
      color: white;

      &.start {
        transform: translate(-50%);
        top: -#{$h * 2}vw;
        left: 0
      }

      &.finish {
        transform: translate(50%);
        top: -#{$h * 2}vw;
        right: 0
      }

      &.switch {
        transform: translate(-50%);
        top: -#{$h * 2}vw;
      }

      &.current {
        text-align: center;
        transform: translate(-50%);
        bottom: -#{$h}vw;
        white-space: nowrap;
      }

      &.cursor {
        transform: translate(-50%);
        height: #{$h}vw;
        width: 1%;
        background: white;
        box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
      }
    }
  }
</style>
