<template>
  <div class="socials">
    <a
      @click.prevent="shareFacebook">
      <img src="../../assets/images/ico-facebook.png" alt="">
    </a>
    <a
      @click.prevent="shareTwitter">
      <img src="../../assets/images/ico-twitter.png" alt="">
    </a>
    <a
      @click.prevent="shareTelegram">
      <img src="../../assets/images/ico-telegram.png" alt="">
    </a>
    <a
      @click.prevent="shareVkontakte">
      <img src="../../assets/images/ico-vk.png" alt="">
    </a>
    <a href="https://gitlab.com/tradisys/fhloston-paradise" target="_blank">
      <img src="../../assets/images/ico-github.png" alt="">
    </a>
  </div>
</template>

<script>
import urlJoin from 'url-join';

const objectToGetParams = object => `?${Object.keys(object)
  .filter(key => !!object[key])
  .map(key => `${key}=${encodeURIComponent(object[key])}`)
  .join('&')}`;

const url = 'https://www.multi-pass.club/';
const quote = 'Get a ticket at https://www.multi-pass.club/ and win $WAVES for your trip to Fhloston Paradise!';
const hashtags = ['wavesplatform', 'waves'];

const shareFacebook = urlJoin(
  'https://www.facebook.com/sharer/sharer.php',
  objectToGetParams({
    u: url,
    quote,
    hashtag: hashtags.map(t => `#${t}`)
      .join(),
  }),
);

const shareTwitter = urlJoin(
  'https://twitter.com/share',
  objectToGetParams({
    url,
    text: quote,
    hashtags: hashtags.join(','),
  }),
);

const shareTelegram = urlJoin(
  'https://telegram.me/share/',
  objectToGetParams({
    url,
    text: `${quote} ${hashtags.map(t => `#${t}`)
      .join()}`,
  }),
);

const shareVkontakte = urlJoin(
  'https://vk.com/share.php',
  objectToGetParams({
    url,
    title: 'Fhloston Paradise Game',
    description: `${quote} ${hashtags.join()}`,
  }),
);


export default {
  methods: {
    shareFacebook() {
      this.openDialog(shareFacebook, 550, 400);
    },
    shareTwitter() {
      this.openDialog(shareTwitter, 550, 400);
    },
    shareTelegram() {
      this.openDialog(shareTelegram, 550, 400);
    },
    shareVkontakte() {
      this.openDialog(shareVkontakte, 660, 460);
    },
    openDialog(openUrl, width, height) {
      const left = (window.outerWidth / 2)
        + (window.screenX || window.screenLeft || 0) - (width / 2);
      const top = (window.outerHeight / 2)
        + (window.screenY || window.screenTop || 0) - (height / 2);

      const config = {
        height,
        width,
        left,
        top,
        location: 'no',
        toolbar: 'no',
        status: 'no',
        directories: 'no',
        menubar: 'no',
        scrollbars: 'yes',
        resizable: 'no',
        centerscreen: 'yes',
        chrome: 'yes',
      };

      window.open(
        openUrl,
        '_blank',
        Object.keys(config)
          .map(key => `${key}=${config[key]}`)
          .join(', '),
      );
    },
  },
};
</script>

<style scoped lang="scss">
  .socials {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: flex-end;
    transition: all .2s ease-in-out;

    a {
      cursor: pointer;
    }

    a:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
</style>
