<template functional>
  <div class="mail-glass">
    <img src="../../assets/images/mail-glass.png" alt="">
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
  .mail-glass {
    position: absolute;
    top: 0;

    img {
      width: 100vw;
      height: 100vh;
    }
  }
</style>
