<template>
  <div :class="['mail', {fall: fall, falling: falling}]">
    <img src="../../assets/images/mail-template.png" alt="">
    <div class="text recipient">{{$t('message.recipient')}}:</div>
    <div class="text address">{{lastPaymentAddress}}</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      falling: false,
      fall: false,
    };
  },
  computed: {
    ...mapGetters({
      lastPaymentTx: 'lastPaymentTx',
      lastPaymentAddress: 'lastPaymentAddress',
    }),
  },
  watch: {
    lastPaymentTx() {
      this.fall = false;
      this.falling = true;
      const handler = setTimeout(() => {
        this.falling = false;
        this.fall = true;
        clearTimeout(handler);
      }, 500);
    },
  },
};
</script>

<style scoped lang="scss">
  $falling-duration: 0.5s;

  .mail {
    position: absolute;
    top: -40vh;
    left: 10vw;
    perspective: 50vw;
    transform-style: preserve-3d;
    animation-duration: $falling-duration;
    animation-iteration-count: infinite;

    img {
      width: 14vw;
      height: 36vh;
      transform-origin: right bottom;
      transform: rotateY(30deg);
      position: sticky;
    }

    .text {
      font-family: 'JonhyFever', monospace;
      color: rgba(0, 0, 0, 0.7);
      font-size: 1.5vh;
      position: absolute;
      transform: rotateZ(-90deg);
    }

    .address {
      top: 33vh;
      left: 5vw;
      right: 90vw;
    }

    .recipient {
      top: 33vh;
      left: 4vw;
      right: 90vw;
    }
  }

  .falling {
    animation-name: falling;
    animation-timing-function: ease-in;
  }

  .fall {
    top: 50vh;
    left: 8vw;
  }

  @keyframes falling {
    0% {
      top: -40vh;
      left: 10vw;
      transform: skewY(25deg);
    }
    100% {
      top: 50vh;
      left: 8vw;
    }
  }
</style>
