<template>
  <div class="room w-100vw h-100vh">
    <div class="outside">
      <div data-relative-input="true" id="px-1">
        <img data-depth="0.05"
             src="../../assets/images/world.jpg" alt="">
      </div>
    </div>
    <div class="taxi float">
      <div data-relative-input="true" id="px-2">
        <img data-depth="0.1"
             src="../../assets/images/taxi.png" alt="">
      </div>
    </div>
    <div class="background w-100vw h-100vh">
      <img class="w-100vw h-100vh"
           src="../../assets/images/room-back.png" alt="">
    </div>
    <div data-relative-input="true" id="px-3">
      <div data-depth="0.5">
        <img class="w-100vw h-100vh"
             src="../../assets/images/dust1.png" alt="">
      </div>
      <div data-depth="0.1">
        <img class="w-100vw h-100vh"
             src="../../assets/images/dust2.png" alt="">
      </div>
      <div data-depth="0.2">
        <img class="w-100vw h-100vh"
             src="../../assets/images/dust3.png" alt="">
      </div>
    </div>
    <img class="w-100vw h-100vh"
         src="../../assets/images/light1.png" alt="">
    <img class="w-100vw h-100vh"
         src="../../assets/images/light2.png" alt="">
    <img class="w-100vw h-100vh"
         src="../../assets/images/light3.png" alt="">
    <img class="w-100vw h-100vh"
         src="../../assets/images/light4.png"
         alt="">
    <scene-mail></scene-mail>
    <scene-mail-glass></scene-mail-glass>
    <scene-shadow></scene-shadow>
  </div>
</template>

<script>
import Parallax from 'parallax-js';
import SceneMail from '@/components/scene/Mail.vue';
import SceneMailGlass from '@/components/scene/MailGlass.vue';
import SceneShadow from '@/components/scene/Shadow.vue';

export default {
  components: {
    SceneMail,
    SceneMailGlass,
    SceneShadow,
  },
  mounted() {
    this.createParallaxAt(document.getElementById('px-1'));
    this.createParallaxAt(document.getElementById('px-2'));
    this.createParallaxAt(document.getElementById('px-3'));
  },
  methods: {
    createParallaxAt(element) {
      return new Parallax(element, {
        relativeInput: true,
      });
    },
  },
};
</script>

<style scoped lang="scss">
  .room {
    position: absolute;

    .dust {
      position: absolute;
    }

    .taxi {
      position: absolute;
      left: 28vw;
      top: 48vh;

      img {
        width: 27vw;
        height: 35vh;
      }

      @keyframes float {
        0% {
          transform: translateY(0px);
        }

        50% {
          transform: translateY(-10px);
        }

        100% {
          transform: translateY(0px);
        }
      }

      &.float {
        animation: float 6s ease-in-out infinite;
      }
    }

    .background {
      position: absolute;
    }

    .outside {
      position: absolute;
      left: 15vw;
      top: 30vh;

      img {
        width: 50vw;
        height: 50vh;
      }
    }

    .light {
      position: absolute;
    }
  }
</style>
