<template functional>
  <div class="shadow w-100vw h-100vh">
    <img class="w-100vw h-100vh"
         src="../../assets/images/shadow.png" alt="">
  </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>
  .shadow {
    position: absolute;
  }
</style>
