<template>
  <div class="loading w-100vw h-100vh">
    <div class="text caption">{{ $t('message.loading') }} {{progress}}%</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      loadingProgress: 'loadingProgress',
    }),
    progress() {
      return Math.trunc(this.loadingProgress);
    },
  },
};
</script>

<style scoped lang="scss">
  .loading {
    color: #ff2c31;
    position: absolute;
    background-color: black;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
