<template>
  <div class="scene w-100vw h-100vh">
    <scene-room></scene-room>
    <div class="interface">
      <control-blocks
        class="w-100vw"
        style="position: absolute; top: 12vh; left: 46vw; right: 46vw;">
      </control-blocks>
      <div style="display: flex; position: absolute; bottom: 0;" class="w-100vw">
        <div style="display: flex; flex: 1;">
          <control-socials></control-socials>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
          <div style="display: inline-flex; flex-direction: column; align-items: center">
            <control-countdown>
            </control-countdown>
            <control-button-get-ticket>
            </control-button-get-ticket>
            <control-button-info>
            </control-button-info>
          </div>
          <control-progress>
          </control-progress>
        </div>
        <div style="display: flex; flex: 1; justify-content: flex-end;">
          <control-table-score>
          </control-table-score>
        </div>
      </div>
      <!--- wow :) -->
      <a href="https://www.tradisys.com" target="_blank" class="secret tradisys"></a>
      <a href="https://www.wavesplatform.com" target="_blank" class="secret surfing"></a>
      <control-balance
        style="position: absolute; top: 0; right: 0">
      </control-balance>
      <control-change-lang
        style="position: absolute; top: 1vh; right: 3vw">
      </control-change-lang>
      <!--- popups -->
      <popup-withdraw class="popup">
      </popup-withdraw>
      <popup-get-waves-keeper class="popup">
      </popup-get-waves-keeper>
      <popup-information class="popup">
      </popup-information>
      <popup-switch-network class="popup">
      </popup-switch-network>
      <popup-not-a-winner class="popup">
      </popup-not-a-winner>
      <popup-insufficient-funds class="popup">
      </popup-insufficient-funds>
      <popup-add-account-first class="popup">
      </popup-add-account-first>
    </div>
  </div>
</template>

<script>
import PopupAddAccountFirst from '@/components/controls/popups/AddAcountFirst.vue';
import PopupGetWavesKeeper from '@/components/controls/popups/GetWavesKeeper.vue';
import PopupSwitchNetwork from '@/components/controls/popups/SwitchNetwork.vue';
import PopupNotAWinner from '@/components/controls/popups/NotAWinner.vue';
import PopupInformation from '@/components/controls/popups/Information.vue';
import PopupInsufficientFunds from '@/components/controls/popups/InsufficientFunds.vue';
import PopupWithdraw from '@/components/controls/popups/Withdraw.vue';
import ControlProgress from '@/components/controls/Progress.vue';
import ControlChangeLang from '@/components/controls/ChangeLanguage.vue';
import ControlCountdown from '@/components/controls/Countdown.vue';
import ControlButtonGetTicket from '@/components/controls/ButtonGetTicket.vue';
import ControlButtonInfo from '@/components/controls/ButtonInfo.vue';
import ControlTableScore from '@/components/controls/Participants.vue';
import ControlSocials from '@/components/controls/Socials.vue';
import ControlBalance from '@/components/controls/Balance.vue';
import ControlBlocks from '@/components/controls/Blocks.vue';
import SceneRoom from '@/components/scene/Room.vue';
import '@/assets/styles/main.scss';

export default {
  components: {
    PopupAddAccountFirst,
    PopupInsufficientFunds,
    PopupGetWavesKeeper,
    PopupSwitchNetwork,
    PopupNotAWinner,
    PopupInformation,
    PopupWithdraw,
    ControlCountdown,
    ControlProgress,
    ControlChangeLang,
    ControlButtonGetTicket,
    ControlButtonInfo,
    ControlTableScore,
    ControlSocials,
    ControlBalance,
    ControlBlocks,
    SceneRoom,
  },
};
</script>

<style scoped lang="scss">
  .scene {
    position: absolute;

    .interface {
      position: relative;
      height: inherit;
    }

    .secret {
      position: absolute;

      &.tradisys {
        width: 3vw;
        height: 6vh;
        left: 27vw;
        top: 74vh;
      }

      &.surfing {
        width: 3vw;
        height: 15vh;
        left: 75vw;
        top: 30vh;
        transform: rotateZ(-30deg);
      }
    }

    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
  }
</style>
