<template>
  <div id="app">
    <transition name="fade" mode="in-out">
      <scene-loading v-show="!isLoaded"></scene-loading>
    </transition>
    <transition name="fade" mode="in-out">
      <scene v-show="isLoaded"></scene>
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { GameStage } from '@/utils';
import SceneLoading from '@/components/Loading.vue';
import Scene from '@/components/Scene.vue';

const defaultTitle = document.title;

export default {
  components: {
    Scene,
    SceneLoading,
  },
  computed: {
    ...mapGetters({
      stage: 'stage',
      heightLeft: 'heightLeft',
      countdown: 'countdown',
      isLoaded: 'isLoaded',
    }),
  },
  mounted() {
    this.setLoadingImagesProperties(document.images);
    this.setApplicationLifecycle();
    setTimeout(() => {
      this.setWavesKeeperInitialization();
    }, 500);
  },
  methods: {
    ...mapActions({
      setApplicationLifecycle: 'startLifecycle',
      setWavesKeeperInitialization: 'setWavesKeeperInitialization',
      setLoadingImagesProperties: 'setLoadingImages',
    }),
  },
  watch: {
    heightLeft(left) {
      if (this.stage === GameStage.COMPETITION) {
        if (left === 0) {
          document.title = `${this.$t('message.blocksLeftZero')} | ${defaultTitle}`;
        } else {
          document.title = `${left} ${this.$t('message.blocksLeft')} | ${defaultTitle}`;
        }
      }
    },
    countdown(value) {
      if (this.stage === GameStage.WITHDRAW) {
        const {
          hours,
          minutes,
        } = value;

        if (hours <= 0) {
          document.title = `${minutes} ${this.$t('message.minutesShort')} | ${defaultTitle}`;
        } else {
          document.title = `
          ${hours}
          ${this.$t('message.hoursShort')}
          ${minutes}
          ${this.$t('message.minutesShort')}
          |
          ${defaultTitle}`;
        }
      }
    },
  },
};
</script>

<style lang="scss">
  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
