<template>
  <div class="unsupported">
    <div class="col">
      <img src="./assets/images/logo-flat.png" alt="">
    </div>
    <transition name="fade">
      <div class="col" v-if="isStageWithdraw" style="flex: 1">
        <div class="col text caption">
          <div class="value text red-glow">
            <span class="waves white">{{$t('message.round')}}</span>
            <span class="space"></span>
            <span class="waves red">{{$t('message.roundEnd')}}</span>
          </div>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="col text caption red-glow title countdown">
          <control-countdown :mobile="true"></control-countdown>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="row text caption title white">
          <div class="col text red-glow" style="align-items: flex-end;">
            <div>{{$t('message.winner')}}</div>
            <div>{{$t('message.prize')}}</div>
          </div>
          <div class="col" style="width: 5vw;"></div>
          <div class="col" style="align-items: flex-start;">
            <div class="address">
              <a target="_blank" :href="lastPaymentAddressLink">{{lastPaymentFormatted}}</a>
            </div>
            <div class="balance">
              <div class="value">
                <span class="amount">{{withdrawBalanceFormatted}}</span>
                <span class="space"></span>
                <span class="waves">waves</span>
                <span class="space"></span>
                <span class="brace">(</span>
                <span class="amount">{{balanceInUSDFormatted}}</span>
                <span class="space"></span>
                <span class="waves">USD</span>
                <span class="brace">)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="col">
          <span @click="showInformation" class="info control">{{$t('message.gameRules')}}</span>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="col">
          <control-progress :mobile="true"></control-progress>
        </div>
        <div class="col" style="flex: 1"></div>
      </div>
      <div class="col" v-else style="flex: 1">
        <div class="col text caption">
          <div class="value text red-glow">
            <span class="waves white">{{$t('message.round')}}</span>
            <span class="space"></span>
            <span class="amount red">{{round}}</span>
          </div>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="col text caption red-glow white">
          <div class="col">
            <span class="white" style="font-size: 3vh">{{$t('message.blockTillTheEnd')}}</span>
          </div>
          <div class="col text caption red-glow red">
            {{heightLeft}}
          </div>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="row text caption title white">
          <div class="col text red-glow" style="align-items: flex-end;">
            <div>{{$t('message.recipient')}}</div>
            <div>{{$t('message.prize')}}</div>
          </div>
          <div class="col" style="width: 5vw;"></div>
          <div class="col" style="align-items: flex-start;">
            <div class="address">
              <a target="_blank" :href="lastPaymentAddressLink">{{lastPaymentFormatted}}</a>
            </div>
            <div class="balance">
              <div class="value">
                <span class="amount">{{balanceFormatted}}</span>
                <span class="space"></span>
                <span class="waves">waves</span>
                <span class="space"></span>
                <span class="brace">(</span>
                <span class="amount">{{balanceInUSDFormatted}}</span>
                <span class="space"></span>
                <span class="waves">USD</span>
                <span class="brace">)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="col">
          <span @click="showInformation" class="info control">{{$t('message.gameRules')}}</span>
        </div>
        <div class="col" style="flex: 0.5"></div>
        <div class="col text caption red-glow white">
          <div class="get-prize">
            <div class="button control">
              <div @click="showGetTicket" class="text caption">{{$t('message.getTicket')}}</div>
            </div>
          </div>
        </div>
        <div class="col" style="flex: 1"></div>
      </div>
    </transition>
    <div id="popups">
      <transition name="fade">
        <div class="popup text white" v-show="popups.information">
          <div class="content text caption">
            <p class="close red" @click="hideInformation">[x] {{$t('message.close')}}</p>
            <p v-html="$t('message.information.preamble')"></p>
            <p>{{$t('message.information.toPlayYouNeed.title')}}</p>
            <ol>
              <li v-html="$t('message.information.toPlayYouNeed.li-1')"></li>
              <li>{{$t('message.information.toPlayYouNeed.li-2')}}</li>
              <li>{{$t('message.information.toPlayYouNeed.li-3')}}</li>
            </ol>
            <p>{{$t('message.information.howToPlay.title')}}</p>
            <ol>
              <li>{{$t('message.information.howToPlay.li-1')}}</li>
              <li>{{$t('message.information.howToPlay.li-2')}}</li>
              <li>{{$t('message.information.howToPlay.li-3')}}</li>
            </ol>
            <p>{{$t('message.information.gameInstructions.title')}}</p>
            <ol>
              <li>
                {{$t('message.information.gameInstructions.li-1')}}
              </li>
              <li>{{$t('message.information.gameInstructions.li-2')}}</li>
              <li>{{$t('message.information.gameInstructions.li-3')}}
                <ul>
                  <li>{{$t('message.information.gameInstructions.li-4')}}</li>
                  <li>{{$t('message.information.gameInstructions.li-5')}}</li>
                </ul>
              </li>
              <li>
                {{$t('message.information.gameInstructions.li-6')}}
                <ul>
                  <li>{{$t('message.information.gameInstructions.li-7')}}</li>
                  <li>{{$t('message.information.gameInstructions.li-8')}}</li>
                  <li>{{$t('message.information.gameInstructions.li-9')}}</li>
                  <li>{{$t('message.information.gameInstructions.li-10')}}</li>
                </ul>
              </li>
              <li>{{$t('message.information.gameInstructions.li-11')}}</li>
              <li>{{$t('message.information.gameInstructions.li-12')}}</li>
              <li>{{$t('message.information.gameInstructions.li-13')}}</li>
              <li>{{$t('message.information.gameInstructions.li-14')}}</li>
              <li>{{$t('message.information.gameInstructions.li-15')}}</li>
              <li>{{$t('message.information.gameInstructions.li-16')}}</li>
              <li>{{$t('message.information.gameInstructions.li-17')}}</li>
              <li>{{$t('message.information.gameInstructions.li-18')}}</li>
              <li>{{$t('message.information.gameInstructions.li-19')}}</li>
              <li>{{$t('message.information.gameInstructions.li-20')}}</li>
            </ol>
            <p class="close red" @click="hideInformation">[x] {{$t('message.close')}}</p>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div class="popup text white" v-show="popups.getTicket">
          <div class="content text caption">
            <p class="close red" @click="hideGetTicket">[x] {{$t('message.close')}}</p>
            <p>{{$t('message.windowGetTicket.title')}}</p>
            <ol>
              <li>{{$t('message.windowGetTicket.li-1')}}</li>
              <li>{{$t('message.windowGetTicket.li-2')}}</li>
              <li>{{$t('message.windowGetTicket.li-3')}}</li>
            </ol>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import urlJoin from 'url-join';
import config from '@/config';
import { mapGetters, mapActions } from 'vuex';
import ControlCountdown from '@/components/controls/Countdown.vue';
import ControlProgress from '@/components/controls/Progress.vue';

const addressTruncate = (address, fist, last, placeholder) => address.slice(0, fist)
  .concat(placeholder)
  .concat(address.slice(-last));


export default {
  components: {
    ControlProgress,
    ControlCountdown,
  },
  data() {
    return {
      popups: {
        information: false,
        getTicket: false,
      },
    };
  },
  computed: {
    ...mapGetters({
      round: 'round',
      balance: 'balance',
      lastPayment: 'lastPaymentAddress',
      heightLeft: 'heightLeft',
      isStageWithdraw: 'isStageWithdraw',
      balanceOnWithdraw: 'balanceOnWithdraw',
      lastPriceUSD: 'lastPriceUSD',
    }),
    balanceFormatted() {
      if (!this.balance) {
        return 0;
      }

      return Math.trunc(this.balance / config.wave);
    },
    lastPaymentAddressLink() {
      if (!this.lastPayment) {
        return '#';
      }

      return urlJoin(config.api.explorer, this.lastPayment);
    },
    lastPaymentFormatted() {
      if (!this.lastPayment) {
        return '...';
      }

      return addressTruncate(this.lastPayment, 7, 7, '***');
    },
    extensions() {
      return config.extensions;
    },
    withdrawBalanceFormatted() {
      if (!this.balanceOnWithdraw) {
        return 0;
      }

      return Math.trunc(this.balanceOnWithdraw / config.wave);
    },
    balanceInUSDFormatted() {
      if (!this.lastPriceUSD) {
        return '0';
      }

      return `~${Math.trunc((this.balanceOnWithdraw * this.lastPriceUSD) / config.wave)}`;
    },
  },
  mounted() {
    this.setApplicationLifecycle();
  },
  methods: {
    ...mapActions({
      setApplicationLifecycle: 'startLifecycle',
    }),
    showInformation() {
      this.popups.information = true;
    },
    hideInformation() {
      this.popups.information = false;
    },
    showGetTicket() {
      this.popups.getTicket = true;
    },
    hideGetTicket() {
      this.popups.getTicket = false;
    },
  },
};
</script>

<style scoped lang="scss">
  body, html {
    position: fixed;
    overflow: hidden;
  }

  .unsupported {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("assets/images/back-mobile.jpg");
    background-size: cover;
    font-size: 5vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close {
      text-decoration: underline;
    }

    .balance {
      font-family: 'JonhyFever', sans-serif;
      text-transform: uppercase;

      .brace {
        padding: 0 0.2vw;
      }

      .value {
        transition: 0.3s ease-in-out;
        padding-right: 0.5vw;

        .amount {
          padding-right: 0.5vw;
          color: rgba(255, 35, 29, 0.8);
        }
      }
    }

    .address a {
      text-decoration: underline;
    }

    .popup {
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      overflow-y: auto;
      font-size: 2vh;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;

      .content {
        text-align: justify;
        margin: 5vw;
        font-family: Roboto, sans-serif;
        text-transform: none;
      }
    }

    .info {
      margin-top: 1vh;
      margin-bottom: 3vh;
      font-size: 2vh;
      transition: color .25s ease-in-out;
      font-family: Arial, serif;
      text-transform: none;
      text-decoration: underline;
      color: rgba(255, 255, 255, 0.8);

      &:hover {
        color: red;
        cursor: pointer;
      }
    }

    .get-prize {
      margin-bottom: 5vh;

      .button {
        height: 3vh;
        font-size: 2.5vh;
        padding: 2vw;
        transition: background-color .25s ease-in-out;
        border: 0.5vw solid white;
        border-radius: 3vw;

        background-color: rgba(255, 0, 0, 0.3);
        cursor: pointer;
      }
    }

    .red {
      color: #ff2c31;
    }

    .white {
      color: white;
    }

    span.space {
      padding: 0 1vw;
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .title {
      font-size: 2.5vh;
      padding: 1vh;
    }

    img {
      padding: 30px;
    }

    .links {
      width: inherit;
      display: flex;
      flex-direction: row;

      a {
        width: 50%;
        font-size: 3vh;

        &:hover {
          color: #ff2c31;
        }

        &:first-child {
          padding-right: 10px;
          text-align: right;
        }

        &:last-child {
          padding-left: 10px;
          text-align: left;
        }
      }
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity .3s ease;
    }

    .fade-enter, .fade-leave-to {
      opacity: 0;
    }
  }
</style>
