@font-face {
  font-family: 'Digital7';
  src: url('../fonts/digital-7.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'JonhyFever';
  src: url('../fonts/johny_fever.ttf') format('truetype');
  font-style: normal;
}

body {
  text-align: center;
  user-select: none;
  overflow: hidden;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;

  &.link {
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: #ff2c31;
    }
  }
}

.w-100 {
  width: 100%;
}

.w-100vw {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.text {
  text-transform: uppercase;

  &.red-glow {
    text-shadow: 0 0 10px rgba(230, 0, 46, 0.5), 0 0 5em #ff2c31, 0 0 0.5em #8b0014;
  }

  &.caption {
    font-family: 'JonhyFever', monospace;
  }

  &.digit {
    font-family: 'Digital7', monospace;
  }
}

.box-glow {
  box-shadow: 0 0 70px 6px rgba(230, 0, 46, 0.5), inset 0 0 70px 6px rgba(230, 0, 46, 0.5);
}

.control {
  color: white;

  &.bordered {
    border: 5px solid white;
    border-radius: 25px;
  }
}

@keyframes flicker {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}

.flicker {
  animation: flicker 2s infinite;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  position: absolute;
}
